@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  user-select: none; /* Previene a seleção de texto */
  -moz-user-select: none;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

input:focus {
  outline: none;
}

input[type="date"] {
  text-align: center; 
}

input, img:active, a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  outline: none !important;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
width: 12px;
}

/* Estilo da alça da barra de rolagem */
::-webkit-scrollbar-thumb {
background: linear-gradient(#444, #5DC45D);
border: 1px solid #333;
border-radius: 5px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease; /* Adicionando transição para suavizar a mudança */
}

/* Efeito hover na alça da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Adicionando brilho usando sombra */
}


/* Estilo do fundo da barra de rolagem transparente */
::-webkit-scrollbar-track {
background: transparent;
border-radius: 10px;
}

/* Efeito de transição suave */
::-webkit-scrollbar-thumb {
transition: background-color 0.3s ease;
}

@media screen and (min-width: 1920px) {

  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Definindo a altura para ocupar toda a altura da viewport */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Defina a largura da sua preferência */
  }
  
  #logo-container {
    margin-left: 80px;
    margin-right: 200px; /* Adicione um espaçamento entre a logo e o formulário */
  }
  
  #form-container {
    flex: 1; /* Ocupa o espaço restante */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
      margin: auto;
      border-collapse: collapse;
      background-color: rgb(37, 37, 37); 
      box-shadow: 0 0 10px rgba(65, 65, 65, 0.3);
      border-radius: 8px;
      letter-spacing: 1px;
      width: 440px;
      height: 300px;
    }
  
  tr {
      height: 60px;
  }
  
  td {
      padding: 16px;
      text-align: center;
      font-size: 26px;	  
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease; 
  }
  
  a:hover {
    color: #45a049;
  }
  
  
      input[type="text"],
          input[type="email"], input[type="password"],
          input[type="tel"],input[type="date"] {
              width: 250px;
        padding: 12px 15px;
        margin: 5px;
        border: 1px solid #666;
        border-radius: 6px;
        background-color: #333;
        color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: border-color 0.3s ease;
        font-size: 18px;
          }
  
  
  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="date"]:focus{
      border-color: #45a049;
      outline: none;
  }
  
  
          input[type="submit"] {
              background-color: #4CAF50;
              color: white;
              padding: 10px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              font-size: 25px;
          }
  
      input[type="submit"]:hover {
              background-color: #45a049;
          }
  
  .password-container {
              position: relative;
          }
  
          #password {
              box-sizing: border-box;
              padding-right: 40px; 
          }
  
          #eye-icon {
              position: absolute;
              right: 105px;
              top: 64%;
              transform: translateY(-50%);
        cursor: pointer;
        height: 22px;
        object-fit: contain; 
          }
  
          .error {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            max-width: fit-content;  
            padding: 20px; /* Aumento do padding */
            display: flex;
            flex-direction: column; /* Alterado para orientação vertical */
            align-items: center; /* Centralizado horizontalmente */
            justify-content: flex-start; /* Alinhado ao topo */
            background: #FCE8DB;
            border-radius: 12px; /* Aumento do raio da borda */
            border: 2px solid #EF665B; /* Aumento da largura da borda */
            box-shadow: 0px 0px 8px -3px #111; /* Aumento do tamanho da sombra */
            position: absolute; /* Posicionado absolutamente */
            top: 75px; /* Distância do topo da página aumentada */
            left: 30%; /* Centralizado horizontalmente */
            transform: translateX(-50%); /* Corrigir a centralização horizontal */
        }
        
        .error__content {
            display: flex;
            flex-direction: row; /* Alterado para orientação horizontal */
            align-items: center;
        }
        
        .error__icon svg {
            width: 40px; /* Aumento da largura do ícone */
            height: 40px; /* Aumento da altura do ícone */
        }
        
        .error__close svg {
            width: 35px; /* Aumento da largura do botão de fechar */
            height: 35px; /* Aumento da altura do botão de fechar */
        }
        
        .error__icon {
            transform: translateY(2px); /* Ajuste da posição vertical do ícone */
            margin-right: 15px; /* Aumento da margem à direita do ícone */
        }
        
        .error__icon path {
            fill: #EF665B;
        }
        
        .error__close {
            width: 30px; /* Aumento da largura do botão de fechar */
            height: 30px; /* Aumento da altura do botão de fechar */
            transform: translateY(4px); /* Ajuste da posição vertical do botão de fechar */
            margin-left: 15px; /* Aumento da margem à esquerda do botão de fechar */
            margin-bottom: 6px;
            cursor: pointer;
        }
        
        .error__close path {
            fill: #71192F;
        }
    
        .error__text {
            font-weight: 600;
            font-size: 28px; /* Aumento do tamanho da fonte */
            color: #71192F;
            white-space: nowrap;
        }    
  }
  

@media screen and (max-width: 1919px) and (min-width: 501px)  {
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
}

#logo-container {
  margin-bottom: 20px; /* Adicione um espaçamento entre a logo e o formulário */
  text-align: center; /* Centraliza a logo horizontalmente */
}

#logo-container img {
  width: 30%;
}

#form-container {
  flex: 1;
  padding: 0 20px; /* Adicionando espaço ao redor do formulário */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(37, 37, 37); 
    box-shadow: 0 0 10px rgba(65, 65, 65, 0.3);
    border-radius: 8px;
    letter-spacing: 1px;
    width: 440px;
    height: 300px;
  }

tr {
    height: 60px;
}

td {
    padding: 16px;
    text-align: center;
  	font-size: 24px;	  
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease; 
}

a:hover {
  color: #45a049;
}


		input[type="text"],
        input[type="email"], input[type="password"],
        input[type="tel"],input[type="date"] {
            width: 250px;
			padding: 12px 15px;
			margin: 5px;
			border: 1px solid #666;
			border-radius: 6px;
			background-color: #333;
			color: #fff;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			transition: border-color 0.3s ease;
			font-size: 16px;
        }


input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="date"]:focus{
    border-color: #45a049;
    outline: none;
}


        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 25px;
        }

		input[type="submit"]:hover {
            background-color: #45a049;
        }

.password-container {
            position: relative;
        }

        #password {
            box-sizing: border-box;
            padding-right: 40px; 
        }

        #eye-icon {
            position: absolute;
            right: 105px;
            top: 64%;
            transform: translateY(-50%);
			      cursor: pointer;
			      height: 22px;
			      object-fit: contain; 
          }

        .error {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          max-width: fit-content;  
          padding: 12px;
          display: flex;
          flex-direction: column; /* Alterado para orientação vertical */
          align-items: center; /* Centralizado horizontalmente */
          background: #FCE8DB;
          border-radius: 8px;
          border: 1px solid #EF665B;
          box-shadow: 0px 0px 5px -3px #111;
          position: static; /* Posicionado estáticamente */
          margin-top: 50px;
          top: 50%; /* Centralizado verticalmente */
          transform: translateY(-50%); /* Corrigir a centralização vertical */
        }
        
        .error__content {
            display: flex;
            flex-direction: row; /* Alterado para orientação horizontal */
            align-items: center;
        }
        
        .error__icon {
          width: 25px;
          height: 25px;
          transform: translateY(1px);
          margin-right: 15px;
        }
        
        .error__icon path {
          fill: #EF665B;
        }
        
        .error__text {
          font-weight: 600;
          font-size: 18px;
          color: #71192F;
          white-space: nowrap;
        }
        
        .error__close {
          width: 25px;
          height: 25px;
          transform: translateY(3px);
          margin-left: 8px;
          cursor: pointer;
        }
        
        .error__close path {
            fill: #71192F;
        }
}

/* RESOLUÇÃO COM LIMITE DE 500PX */
@media screen and (max-width: 500px) and (min-width: 320px) {
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
}

#logo-container {
  margin-bottom: 10px; /* Adicione um espaçamento entre a logo e o formulário */
  text-align: center; /* Centraliza a logo horizontalmente */
}

#logo-container img {
  width: 50%;
}

#form-container {
  flex: 1;
  padding: 0 20px; /* Adicionando espaço ao redor do formulário */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(37, 37, 37); 
    box-shadow: 0 0 10px rgba(65, 65, 65, 0.3);
    border-radius: 8px;
    letter-spacing: 1px;
    width: calc(80% + (20 / 180) * (100vw - 320px));
    height: auto;
  }

tr {
    height: 60px;
}

td {
    padding: calc(15px + (5 / 180) * (100vw - 320px));
    font-size: calc(17px + (10 / 180) * (100vw - 320px));
    text-align: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease; 
}

a:hover {
  color: #45a049;
}


		input[type="text"],
        input[type="email"], input[type="password"],
        input[type="tel"],input[type="date"] {
            width: calc(200px + (80 / 180) * (100vw - 320px));
            padding: calc(8px + (5 / 200) * (100vw - 320px)) calc(10px + (6 / 200) * (100vw - 320px)); 
            margin: 8px;
            border: 1px solid #666;
            border-radius: 6px;
            background-color: #333;
            color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            transition: border-color 0.3s ease;
            font-size: calc(12px + (5 / 180) * (100vw - 320px));
        }


      input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="date"]:focus{
          border-color: #45a049;
          outline: none;
      }


      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 8px; /* Diminuição do padding para 8px no topo e na base e 15px nos lados */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: calc(20px + (10 / 180) * (100vw - 320px));
        width: calc(200px + (80 / 180) * (100vw - 320px));
        transition: background-color 0.3s ease;
    }
    
		input[type="submit"]:hover {
            background-color: #45a049;
        }

.password-container {
            position: relative;
        }

        #password {
            box-sizing: border-box;
            padding-right: 40px; 
        }

        #eye-icon {
            position: absolute;
            right: calc(30px + (35 / 180) * (100vw - 320px));
            height: calc(20px + (10 / 180) * (100vw - 320px));
            top: calc(51% + (1 / 180) * (100vw - 320px));
			      cursor: pointer;
			      object-fit: contain; 
          }

          .error {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            max-width: auto;  
            min-width: 90%;
            padding: 8px;
            display: flex;
            flex-direction: column; 
            align-items: center; 
            justify-content: flex-start; 
            background: #FCE8DB;
            border-radius: 8px; 
            position: absolute;
            top: calc(10px + (30 / 180) * (100vw - 320px));
            left: 50%;
            transform: translateX(-50%); 
            border: 1px solid #EF665B; 
            box-shadow: 0px 0px 4px -1px #111; 
        }
        
        .error__content {
            display: flex;
            flex-direction: row; /* Mantendo a orientação horizontal */
            align-items: center;
        }
        
        .error__icon svg {
            width: calc(20px + (10 / 180) * (100vw - 320px));
            height: calc(20px + (10 / 180) * (100vw - 320px));
        }
        
        .error__close svg {
            width: calc(20px + (5 / 180) * (100vw - 320px));
            height: calc(20px + (5 / 180) * (100vw - 320px));
        }
        
        .error__icon {
            transform: translateY(1px); 
            margin-right: calc(5px + (5 / 180) * (100vw - 320px));
        }
        
        .error__icon path {
            fill: #EF665B;
        }
        
        .error__text {
            font-weight: 500;
            font-size: calc(10.6px + (6.4 / 180) * (100vw - 320px));
            color: #71192F;
            line-height: calc(15px + (10 / 180) * (100vw - 320px));
        }
        
        .error__close {
            transform: translateY(2px); /* Ajuste da posição vertical do botão de fechar */
            margin-left: calc(5px + (5 / 180) * (100vw - 320px));
            cursor: pointer;
        }
        
        .error__close path {
            fill: #71192F;
        }
}